.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 50;
    transition-duration: 800ms;
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
}

.modal {
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: auto;
    background-color: $main-background-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 45;
    .is-hidden & {
        transition-duration: 800ms;
        transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    }
    &-btn {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        outline: none;
        background-color: $main-background-color;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.modal-btn-svg {
    fill: $some-text-color;
    &:hover,
    &:focus {
        fill: $accent-color;
    }
}