* {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    @include fonts(14px, 1.71, 0.03em);
    color: $primary-text-color;
    background-color: $main-background-color;
}

h1,
h2,
h3 {
    margin-top: 0;
}

p {
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}