$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$some-text-color: #000000;
$footer-text-color: rgba(255, 255, 255, 0.6);
$main-background-color: #FFFFFF;
$secondery-background-color: #2F303A;
$section-background-color: #F5F4FA;
$icons-color: #AFB1B8;