.footer,
.footer-logo {
    text-decoration: none;
    color: $main-background-color;
    background-color: $secondery-background-color;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 20px;
}

.address {
    display: block;
    .link {
        color: $footer-text-color;
        &:hover,
        &:focus {
            color: $accent-color;
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}

.address-link {
    margin-bottom: 9px;
}

.footer-text {
    display: flex;
}

.our-contacts {
    margin-right: 70px;
}

.social-network {
    margin-right: 93px;
}

.appeal {
    width: 145px;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.172;
    text-transform: uppercase;
}

.footer-icons-svg {
    fill: $main-background-color;
}

.footer-icons-link {
    background-color: rgba(255, 255, 255, 0.1);
}