.hero {
    height: 600px;
    text-align: center;
    background-color: $secondery-background-color;
    background-image: radial-gradient(circle at center, rgba(47, 48, 58, 0.4) 40%, rgba(47, 48, 58, 0.4) 40%), url(../images/studio-img/bg-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &-title {
        margin-bottom: 30px;
        padding-top: 200px;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $main-background-color;
    }
}