.section {
    padding-top: 94px;
    padding-bottom: 94px;
    &.job {
        padding-top: 0;
    }
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    color: $title-text-color;
}

.hidden {
    display: none;
}